a {
  text-decoration: none;
}

img {
  width: 385px;
  height: 220px;
  width: 100%;
  object-fit: cover;
}


//========================Форма==============
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(4, 70, 236);
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.search-form {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffffff;
  outline: none;
  height: 40px;
  width: 350px;
  color: #05027d;
  font-size: 16px;
  font-family: Tahoma;
  border-right: none;
  padding: 10px;
}

.search-button {
  background-image: url("/src/images/serch-icon.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
  padding: 3px;
  border-left: none;
  border: 1px solid #cccccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-button:hover {
cursor: pointer;
background-color: hsl(69, 100%, 50%);

}

//================= Галерея =================
.gallery {
  display: grid;
  max-width: 1600px;
  grid-template-columns: repeat(auto-fit, minmax(383px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 20px;
  justify-content: center;
  padding-top: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.gallery-item {
  position: relative;
  color: rgb(0, 0, 0);
  transition: all .3s;
}
.gallery-item:focus,
.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px rgb(229, 255, 0), 0 10px 10px rgb(219, 243, 4);
  transition: all .3s;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info-item {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.info-item-list {
  margin-bottom: 5px;
}

//============Кнопка додаткових картинок============

.load-more {
  display: block;
  margin: 25px auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  background: rgb(7, 70, 228);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 35px auto;
  padding: 5px 32px;
  border: 2px solid rgb(32, 150, 232);
  border-radius: 5px;
}
.is-hidden {
  display: none;
}
.load-more:hover {
  cursor: pointer;
  background: rgb(11, 132, 219);
  box-shadow: 0 10px 20px rgb(229, 255, 0), 0 5px 5px rgb(219, 243, 4);
}